<div class="container-fluid">
  <hr>

  <div class="row">
    <div class="col-sm-6">
      <%= link_to batman_path do %>
        <img class="imagen" src="<%= image_path("batman2.jpg") %>" alt="" />
      <% end %>
    </div>

    <div class="col-sm-6">
      <%= link_to superman_path do %>
        <img class="imagen" src="<%= image_path("superman2.jpg") %>" alt="" />
      <% end %>
    </div>
  </div>

  <hr>
  <!--div class="row">
    <div class="col-sm-6">
      <%= link_to new_vote_path, class: "btn btn-success btn-md" do %>
        <span class="glyphicon glyphicon-hand-left"></span> Vote for Batman
      <% end %>
    </div>

    <div class="col-sm-6">
      <%= link_to new_vote_path, class: "btn btn-success btn-md" do %>
        <span class="glyphicon glyphicon-hand-left"></span> Vote for Superman
      <% end %>
    </div>
  </div-->

  <!--div class="row">
    <div class="col-sm-4">
      <form action="/vote/new" method="GET">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="email" name="email" value="<%= params[:email] %>">
          <%= hidden_field_tag(:hero, "Batman") %>
        </div>
        <button type="submit" class="btn btn-info glyphicon glyphicon-hand-left"> Vote</button>
      </form>
    </div>

    <div class="col-sm-offset-2 col-sm-4">
      <form action="/vote/new" method="GET">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="email" name="email" value="<%= params[:email] %>">
          <%= hidden_field_tag(:hero, "Superman") %>
        </div>
        <button type="submit" class="btn btn-info glyphicon glyphicon-hand-left"> Vote</button>
      </form>
    </div>
  </div-->

  <div class="row">
    <div class="col-md-offset-1 col-md-4">
      <%= simple_form_for(:vote, :url => { :controller => "votes", :action => "create", :method => "get" }) do |f| %>
        <div class="col-md-12">
          <%= f.input :email, :label => "Subscribe by Batman", placeholder: "Email", required: false %>
        </div>

        <div class="col-md-12">
          <%= f.hidden_field :hero, :value => "Batman", required: false %>
        </div>

        <div class="col-md-offset-7">
          <div class="actions">
            <%= f.button :submit, "Vote for Batman", class: "btn btn-success btn-md" %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-md-offset-2 col-md-4">
      <%= simple_form_for(:vote, :url => { :controller => "votes", :action => "create", :method => "get" }) do |f| %>
        <div class="col-md-12">
          <%= f.input :email, :label => "Subscribe by Superman", placeholder: "Email", required: false %>
        </div>

        <div class="col-md-12">
          <%= f.hidden_field :hero, :value => "Superman", required: false %>
        </div>

        <div class="col-md-offset-7">
          <div class="actions">
            <%= f.button :submit, "Vote for Superman", class: "btn btn-success btn-md" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
